img.character {
  width: 4.625rem;
  height: 9.375rem;
  object-fit: cover;
  object-position: left top;
}
div.img-wrap {
  width: 4.625rem;
  height: 9.375rem;
  position: relative;
}
.overlay {
  position: absolute;
  width: 4.625rem;
  background: rgba(46, 22, 21, 0.75);
  text-align: center;
  font-size: 0.75rem;
  color: #D1CB89;
}
.name-overlay {
  height: 1.25rem;
  line-height: 1.25rem;
  bottom: 0.9375rem;
  left: 0;
}
.rarity-overlay {
  height: 0.9375rem;
  line-height: 0.9375rem;
  bottom: 0;
  left: 0;
}
.star, .gem {
  width: 0.78125rem;
  height: 0.78125rem;
}
.banner-select {
  width: 19.75rem;
  height: 7.625rem;
}
#banner-img {
  height: auto;
}
#rateup-chars > img, #pulled-five > img {
  width: 5rem;
}
#total-pulls {
  min-height: 7.8125rem;
}
h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.625rem;
}
#container {
  min-height: 80vh;
}
#loading-images {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
}
#ten-pull-badge, #single-pull-badge {
  display: inline;
}
a[aria-expanded="true"] .info-closed, a[aria-expanded="false"] .info-open {
  display: none;
}
@media (min-width: 992px) {
  #banner-img { 
    max-width: 37.5rem;
  }
  img.character, div.img-wrap {
    width: 9.25rem;
    height: 18.75rem;
  }
  .overlay {
    width: 9.25rem;
    font-size: 1.5rem;
  }
  .name-overlay {
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 1.875rem;
  }
  .rarity-overlay {
    height: 1.875rem;
    line-height: 1.875rem;
  }
  .star, .gem {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .table>tbody>tr>td:last-child {
    font-size: 0.8rem;
  }
  #enc-ten, #enc-one {
    font-size: 1.25rem;
  }
}

a.banner-select.default-encounter {
  background: url("../images/banners/90000.combo.png") 0 0 no-repeat;
}
a.banner-select.two-knights {
  background: url("../images/banners/90065.combo.png") 0 0 no-repeat;
}
a.banner-select.absolute-zero {
  background: url("../images/banners/91001.combo.png") 0 0 no-repeat;
}
a.banner-select.ocean-palace {
  background: url("../images/banners/91002.combo.png") 0 0 no-repeat;
}
a.banner-select.time-mine {
  background: url("../images/banners/91013.timemine.combo.png") 0 0 no-repeat;
}
a.banner-select.shadow-witch {
  background: url("../images/banners/91014.shadowwitch.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-two {
  background: url("../images/banners/91020.ida2.combo.png") 0 0 no-repeat;
}
a.banner-select.renri-as {
  background: url("../images/banners/91015.combo.png") 0 0 no-repeat;
}
a.banner-select.myrus-as {
  background: url("../images/banners/91003.cybele.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-bertrand-felmina {
  background: url("../images/banners/91021.combo.png") 0 0 no-repeat;
}
a.banner-select.radias {
  background: url("../images/banners/91005.radias.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt1 {
  background: url("../images/banners/91009.asseriespt1.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt2 {
  background: url("../images/banners/91010.asseriespt2.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt3 {
  background: url("../images/banners/91023.combo.png") 0 0 no-repeat;
}
a.banner-select.anabel-as {
  background: url("../images/banners/91025.combo.png") 0 0 no-repeat;
}
a.banner-select.zeviro {
  background: url("../images/banners/91011.zeviro.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-claude-tsukiha {
  background: url("../images/banners/91012.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.veina-as {
  background: url("../images/banners/91015.titania.combo.png") 0 0 no-repeat;
}
a.banner-select.cynthia {
  background: url("../images/banners/91003.cynthia.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-yuna-dewey {
  background: url("../images/banners/91007.combo.png") 0 0 no-repeat;
}
a.banner-select.future-zone {
  background: url("../images/banners/future-zone.combo.jpg") 0 0 no-repeat;
}
a.banner-select.zones {
  background: url("../images/banners/91010.zones.combo.png") 0 0 no-repeat;
}
a.banner-select.hardy {
  background: url("../images/banners/91006.hardy.combo.png") 0 0 no-repeat;
}
a.banner-select.shannon-as {
  background: url("../images/banners/91019.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-hardy {
  background: url("../images/banners/91009.hardyfateful.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shannon-as {
  background: url("../images/banners/91021.beautypolice.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-vibrant-impact {
  background: url("../images/banners/91023.vibrantimpact.combo.png") 0 0 no-repeat;
}
a.banner-select.reencounter-1st-anni {
  background: url("../images/banners/91022.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-mariel-suzette-as {
  background: url("../images/banners/91024.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-smashing {
  background: url("../images/banners/91017.fatefulsmashing.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-yipha {
  background: url("../images/banners/91012.fatefulyipha.combo.png") 0 0 no-repeat;
}
a.banner-select.yipha {
  background: url("../images/banners/91011.yipha.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-halloween {
  background: url("../images/banners/91015.fatefulhalloween.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ciel-as {
  background: url("../images/banners/91010.fatefulmellowdiva.combo.png") 0 0 no-repeat;
}
a.banner-select.ciel-as {
  background: url("../images/banners/91005.mellowdiva.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-elga-renri {
  background: url("../images/banners/91025.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thillelille {
  background: url("../images/banners/91003.fatefulthillelille.combo.png") 0 0 no-repeat;
}
a.banner-select.thillelille {
  background: url("../images/banners/91000.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-victor {
  background: url("../images/banners/91019.fatefulvictor.combo.png") 0 0 no-repeat;
}
a.banner-select.victor {
  background: url("../images/banners/91006.victor.combo.png") 0 0 no-repeat;
}
a.banner-select.holy-blessings-series {
  background: url("../images/banners/91009.holyblessings.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mistrare {
  background: url("../images/banners/91021.fatefulmistrare.combo.png") 0 0 no-repeat;
}
a.banner-select.mistrare {
  background: url("../images/banners/91015.mistrare.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ida-school-series {
  background: url("../images/banners/91024.fatefulidaschool.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-idea-series {
  background: url("../images/banners/91017.fatefulidea.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-school-special-series {
  background: url("../images/banners/91012.idaschoolspecial.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-three {
  background: url("../images/banners/91011.ida3.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies {
  background: url("../images/banners/91022.twindestinies.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-earths-ringing-series {
  background: url("../images/banners/91025.fatefulearthsringing.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-first-curing-light-series {
  background: url("../images/banners/91010.fatefulfirstcuring.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-migl-aspida {
  background: url("../images/banners/91005.fatefulmiglaspida.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-encounter {
  background: url("../images/banners/91007.brilliantencounter.combo.png") 0 0 no-repeat;
}
a.banner-select.first-curing-light-series {
  background: url("../images/banners/91003.firstcuring.combo.png") 0 0 no-repeat;
}
a.banner-select.bertrand-as {
  background: url("../images/banners/91000.miglaspida.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-chosen-ones-special-2020 {
  background: url("../images/banners/91019.fatefulchosenones.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-tsukiha-as {
  background: url("../images/banners/91026.combo.png") 0 0 no-repeat;
}
a.banner-select.chosen-ones-as-special-2020 {
  background: url("../images/banners/91009.chosenonesas2020.combo.png") 0 0 no-repeat;
}
a.banner-select.tsukiha-as {
  background: url("../images/banners/91006.sarashinahime.combo.png") 0 0 no-repeat;
}

a.banner-select:hover {
  background-position: 0 -7.625rem;
}