img.character {
  width: 4.625rem;
  height: 9.375rem;
  object-fit: cover;
  object-position: left top;
}
div.img-wrap {
  width: 4.625rem;
  height: 9.375rem;
  position: relative;
}
.overlay {
  position: absolute;
  width: 4.625rem;
  background: rgba(46, 22, 21, 0.75);
  text-align: center;
  font-size: 0.65rem;
  color: #D1CB89;
}
.name-overlay {
  height: 1.25rem;
  line-height: 1.25rem;
  bottom: 0.9375rem;
  left: 0;
}
.rarity-overlay {
  height: 0.9375rem;
  line-height: 0.9375rem;
  bottom: 0;
  left: 0;
}
.star, .gem {
  width: 0.78125rem;
  height: 0.78125rem;
}
.banner-select {
  width: 19.75rem;
  height: 7.625rem;
}
#banner-img {
  height: auto;
}
#rateup-chars > img, #pulled-five > img {
  width: 5rem;
}
#total-pulls {
  min-height: 7.8125rem;
}
h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.625rem;
}
#container {
  min-height: 80vh;
}
#loading-images {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
}
#ten-pull-badge, #single-pull-badge {
  display: inline;
}
a[aria-expanded="true"] .info-closed, a[aria-expanded="false"] .info-open {
  display: none;
}
@media (min-width: 992px) {
  #banner-img { 
    max-width: 37.5rem;
  }
  img.character, div.img-wrap {
    width: 9.25rem;
    height: 18.75rem;
  }
  .overlay {
    width: 9.25rem;
    font-size: 1.25rem;
  }
  .name-overlay {
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 1.875rem;
  }
  .name-too-long {
    font-size: 1rem;
  }
  .rarity-overlay {
    height: 1.875rem;
    line-height: 1.875rem;
  }
  .star, .gem {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .table>tbody>tr>td:last-child {
    font-size: 0.8rem;
  }
  #enc-ten, #enc-one {
    font-size: 1.25rem;
  }
}

a.banner-select.default-encounter {
  background: url("../images/banners/90000.combo.png") 0 0 no-repeat;
}
a.banner-select.two-knights {
  background: url("../images/banners/90065.combo.png") 0 0 no-repeat;
}
a.banner-select.absolute-zero {
  background: url("../images/banners/91001.combo.png") 0 0 no-repeat;
}
a.banner-select.ocean-palace {
  background: url("../images/banners/91002.combo.png") 0 0 no-repeat;
}
a.banner-select.time-mine {
  background: url("../images/banners/91013.timemine.combo.png") 0 0 no-repeat;
}
a.banner-select.shadow-witch {
  background: url("../images/banners/91014.shadowwitch.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-two {
  background: url("../images/banners/91020.ida2.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-three {
  background: url("../images/banners/91011.ida3.combo.png") 0 0 no-repeat;
}
a.banner-select.first-knight {
  background: url("../images/banners/91008.firstknight.combo.png") 0 0 no-repeat;
}
a.banner-select.mythos-song-sword {
  background: url("../images/banners/91007.mythossongsword.combo.png") 0 0 no-repeat;
}
a.banner-select.lost-tome {
  background: url("../images/banners/91026.losttome.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-seven-days {
  background: url("../images/banners/91023.sevendaysfateful.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-recollection-from-east {
  background: url("../images/banners/91039.fatefulrecollectioneast.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-heena-as {
  background: url("../images/banners/91036.fatefulheenaas.combo.png") 0 0 no-repeat;
}
a.banner-select.heena-as {
  background: url("../images/banners/91030.heenaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-jp-6th-anni {
  background: url("../images/banners/91032.fatefuljp6thanni.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mariel-es {
  background: url("../images/banners/91005.fatefulmarieles.combo.png") 0 0 no-repeat;
}
a.banner-select.jp-6th-anni-blessing {
  background: url("../images/banners/91029.jp6thblessing.combo.png") 0 0 no-repeat;
}
a.banner-select.jp-6th-anni-fighting-spirit {
  background: url("../images/banners/91031.jp6thfightingspirit.combo.png") 0 0 no-repeat;
}
a.banner-select.mariel-es {
  background: url("../images/banners/91010.marieles.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-heroes-white-night {
  background: url("../images/banners/91021.fatefulheroeswhitenight.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-vw-hozuki {
  background: url("../images/banners/91018.fatefulvwhozuki.combo.png") 0 0 no-repeat;
}
a.banner-select.vw-hozuki {
  background: url("../images/banners/91017.vwhozuki.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lazuline-sky {
  background: url("../images/banners/91012.fatefullazulinesky.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-dewey-as {
  background: url("../images/banners/91028.fatefuldeweyas.combo.png") 0 0 no-repeat;
}
a.banner-select.lazuline-sky {
  background: url("../images/banners/91003.lazulinesky.combo.png") 0 0 no-repeat;
}
a.banner-select.dewey-as {
  background: url("../images/banners/91025.deweyas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shrouded-wisdom {
  background: url("../images/banners/91037.fatefulshroudedwisdom.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-varuos-gift {
  background: url("../images/banners/91015.fatefultwinvaruosgift.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-1 {
  background: url("../images/banners/91019.wanderersdiarych1.combo.png") 0 0 no-repeat;
}
a.banner-select.shrouded-wisdom {
  background: url("../images/banners/91024.shroudedwisdom.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-2 {
  background: url("../images/banners/91006.wanderersdiarych2.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-3 {
  background: url("../images/banners/91042.wanderersdiarych3.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-chaos-banquet {
  background: url("../images/banners/91035.fatefulchaosbanquet.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-yakumo {
  background: url("../images/banners/91034.fatefulyakumo.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-4 {
  background: url("../images/banners/91036.wanderersdiarych4.combo.png") 0 0 no-repeat;
}
a.banner-select.yakumo {
  background: url("../images/banners/91009.yakumo.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-5 {
  background: url("../images/banners/91039.wanderersdiarych5.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-sunlit-amber {
  background: url("../images/banners/91021.fatefulsunlitamber.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-bs-shannon {
  background: url("../images/banners/91030.fatefulbsshannon.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-6 {
  background: url("../images/banners/91000.wanderersdiarych6.combo.png") 0 0 no-repeat;
}
a.banner-select.sunlit-amber {
  background: url("../images/banners/91018.sunlitamber.combo.png") 0 0 no-repeat;
}
a.banner-select.bs-shannon {
  background: url("../images/banners/91022.bsshannon.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-origins-june-2023 {
  background: url("../images/banners/91015.fatefultwinorigins.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-rebirth-june-2023 {
  background: url("../images/banners/91040.fatefultwinrebirth.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-wanderers-special {
  background: url("../images/banners/91032.fatefulwanderersspecial.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lovely-as {
  background: url("../images/banners/91044.fatefullovelyas.combo.png") 0 0 no-repeat;
}
a.banner-select.lovely-as {
  background: url("../images/banners/91019.lovelyas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-wind-force-sesta {
  background: url("../images/banners/91045.fatefulwindforcesesta.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shade-force-toova-es {
  background: url("../images/banners/91046.fatefulshadeforcetoovaes.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-wanderer-binding-night {
  background: url("../images/banners/91006.fatefulwandererbindingnight.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-es-series {
  background: url("../images/banners/91012.fatefulesseries.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-deft-destruction {
  background: url("../images/banners/91003.fatefuldeftdestruction.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderer-binding-night {
  background: url("../images/banners/91010.wandererbindingnight.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-recollection-3000-realm {
  background: url("../images/banners/91039.fatefulrecollection3000.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-pizzica-as {
  background: url("../images/banners/91036.fatefulpizzicaas.combo.png") 0 0 no-repeat;
}
a.banner-select.pizzica-as {
  background: url("../images/banners/91042.pizzicaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ptl-series {
  background: url("../images/banners/91032.fatefulptlseries.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-cr-ilulu {
  background: url("../images/banners/91033.fatefulcrilulu.combo.png") 0 0 no-repeat;
}
a.banner-select.ptl-series {
  background: url("../images/banners/91000.ptlseries.combo.png") 0 0 no-repeat;
}
a.banner-select.cr-ilulu {
  background: url("../images/banners/91017.crilulu.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-jp-pt3-vol2 {
  background: url("../images/banners/91024.fatefultwinjppt3vol2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-main-special {
  background: url("../images/banners/91040.fatefulmainspecial.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-earth-force {
  background: url("../images/banners/91035.fatefulearthforce.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-premaya-as {
  background: url("../images/banners/91025.fatefulpremayaas.combo.png") 0 0 no-repeat;
}
a.banner-select.ways-we-walked {
  background: url("../images/banners/91034.wayswewalked.combo.png") 0 0 no-repeat;
}
a.banner-select.reenc-minalca {
  background: url("../images/banners/91015.reencminalca.combo.png") 0 0 no-repeat;
}
a.banner-select.premaya-as {
  background: url("../images/banners/91041.premayaas.combo.png") 0 0 no-repeat;
}
a.banner-select.elseal {
  background: url("../images/banners/91047.elseal.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-elseal {
  background: url("../images/banners/91048.fatefulelseal.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-windearth {
  background: url("../images/banners/91050.fatefulboundlesswindearth.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-firewater {
  background: url("../images/banners/91049.fatefulboundlessfirewater.combo.png") 0 0 no-repeat;
}
a.banner-select.felmina-es {
  background: url("../images/banners/91009.felminaes.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-felmina-es {
  background: url("../images/banners/91030.fatefulfelminaes.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-summit {
  background: url("../images/banners/91018.fatefulboundlesssummit.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-2 {
  background: url("../images/banners/91021.fatefulwayswewalked2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-inverse-whirl {
  background: url("../images/banners/91012.fatefulinversewhirl.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-melody-as {
  background: url("../images/banners/91003.fatefulmelodyas.combo.png") 0 0 no-repeat;
}
a.banner-select.melody-as {
  background: url("../images/banners/91006.melodyas.combo.png") 0 0 no-repeat;
}
a.banner-select.dw-dunarith {
  background: url("../images/banners/91022.dwdunarith.combo.png") 0 0 no-repeat;
}
a.banner-select.ways-we-walked-rd-3 {
  background: url("../images/banners/91028.wayswewalkedrd3.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-dw-dunarith {
  background: url("../images/banners/91036.fatefuldwdunarith.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ptl-series-2 {
  background: url("../images/banners/91039.fatefulptlseries2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7de-catch-up {
  background: url("../images/banners/91023.fateful7decatchup.combo.png") 0 0 no-repeat;
}
a.banner-select.parisa-as {
  background: url("../images/banners/91019.parisaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-parisa-as {
  background: url("../images/banners/91045.fatefulparisaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-swelling-harmony {
  background: url("../images/banners/91046.fatefulswellingharmony.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-pt-3-vol-2 {
  background: url("../images/banners/91032.fatefultwinpt3vol2.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-pt-3-vol-2 {
  background: url("../images/banners/91033.brilliantpt3vol2.combo.png") 0 0 no-repeat;
}
a.banner-select.velette {
  background: url("../images/banners/91021.velette.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-velette {
  background: url("../images/banners/91043.fatefulvelette.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-war-stories {
  background: url("../images/banners/91029.fatefulwarstories.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-4 {
  background: url("../images/banners/91042.fatefulwayswewalked4.combo.png") 0 0 no-repeat;
}
a.banner-select.pp-myunfa {
  background: url("../images/banners/91017.ppmyunfa.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-pp-myunfa {
  background: url("../images/banners/91000.fatefulppmyunfa.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ptl-earth {
  background: url("../images/banners/91012.fatefulptlearth.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-chance-meeting {
  background: url("../images/banners/91030.fatefulchancemeeting.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7de-nov-2023 {
  background: url("../images/banners/91023.fateful7denov2023.combo.png") 0 0 no-repeat;
}
a.banner-select.orleya-as {
  background: url("../images/banners/91037.orleyaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-orleya-as {
  background: url("../images/banners/91041.fatefulorleyaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-rumbling-horizon {
  background: url("../images/banners/91039.fatefulrumblinghorizon.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-5 {
  background: url("../images/banners/91028.fatefulwayswewalked5.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-dauntless-challenge {
  background: url("../images/banners/91003.fatefuldauntlesschallenge.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-alluring-illusion {
  background: url("../images/banners/91046.fatefulalluringillusion.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-pom-as {
  background: url("../images/banners/91036.fatefulpomas.combo.png") 0 0 no-repeat;
}
a.banner-select.pom-as {
  background: url("../images/banners/91047.pomas.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-fall-2023 {
  background: url("../images/banners/91033.brilliantfall2023.combo.png") 0 0 no-repeat;
}
a.banner-select.twin-destinies-fall-2023 {
  background: url("../images/banners/91032.twindestiniesfall2023.combo.png") 0 0 no-repeat;
}
a.banner-select.cerius {
  background: url("../images/banners/91009.cerius.combo.png") 0 0 no-repeat;
}
a.banner-select.ways-we-walked-6 {
  background: url("../images/banners/91042.wayswewalked6.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-cerius {
  background: url("../images/banners/91045.fatefulcerius.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7de-dec-2023 {
  background: url("../images/banners/91023.fateful7dedec2023.combo.png") 0 0 no-repeat;
}
a.banner-select.oboro {
  background: url("../images/banners/91006.oboro.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-winter-2023 {
  background: url("../images/banners/91033.brilliantwinter2023.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-oboro {
  background: url("../images/banners/91043.fatefuloboro.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thundercrack {
  background: url("../images/banners/91029.fatefulthundercrack.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-intertwine-melody {
  background: url("../images/banners/91003.fatefulintertwinemelody.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-concerto {
  background: url("../images/banners/91012.fatefulconcerto.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-winter-2023 {
  background: url("../images/banners/91032.fatefultwinwinter2023.combo.png") 0 0 no-repeat;
}
a.banner-select.suzette-tsukiha {
  background: url("../images/banners/91044.suzettetsukiha.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-stellar-suzette {
  background: url("../images/banners/91022.fatefulstellarsuzette.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-stellar-tsukiha {
  background: url("../images/banners/91051.fatefulstellartsukiha.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-7 {
  background: url("../images/banners/91053.fatefulwayswewalked7.combo.png") 0 0 no-repeat;
}
a.banner-select.wenefica {
  background: url("../images/banners/91019.wenefica.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7de-dec-2023-pt-2 {
  background: url("../images/banners/91054.fateful7dedec2023pt2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-wenefica {
  background: url("../images/banners/91041.fatefulwenefica.combo.png") 0 0 no-repeat;
}
a.banner-select.alma-as {
  background: url("../images/banners/91009.almaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7de-jan-2024 {
  background: url("../images/banners/91023.fateful7dejan2024.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-alma-as {
  background: url("../images/banners/91045.fatefulalmaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-8 {
  background: url("../images/banners/91042.fatefulwayswewalked8.combo.png") 0 0 no-repeat;
}
a.banner-select.thillelille-es {
  background: url("../images/banners/91021.thillelillees.combo.png") 0 0 no-repeat;
}
a.banner-select.crystal-force {
  background: url("../images/banners/91036.crystalforce.combo.png") 0 0 no-repeat;
}
a.banner-select.thunder-force {
  background: url("../images/banners/91006.thunderforce.combo.png") 0 0 no-repeat;
}
a.banner-select.shade-force {
  background: url("../images/banners/91043.shadeforce.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thillelille-es {
  background: url("../images/banners/91017.fatefulthillelillees.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-best-of-best-2023 {
  background: url("../images/banners/91029.fatefulbestofbest2023.combo.png") 0 0 no-repeat;
}
a.banner-select.bb-akane {
  background: url("../images/banners/91033.bbakane.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-bb-akane {
  background: url("../images/banners/91032.fatefulbbakane.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-earth {
  background: url("../images/banners/91055.fatefulboundlessearth.combo.png") 0 0 no-repeat;
}
a.banner-select.melpiphia {
  background: url("../images/banners/91034.melpiphia.combo.png") 0 0 no-repeat;
}
a.banner-select.melissa-stellar {
  background: url("../images/banners/91025.melissastellar.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-melpiphia {
  background: url("../images/banners/91024.fatefulmelpiphia.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-slayer-starchart {
  background: url("../images/banners/91015.fatefulslayerstarchart.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ways-we-walked-9 {
  background: url("../images/banners/91040.fatefulwayswewalked9.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-global-5th-anni {
  background: url("../images/banners/91018.fatefulglobal5thanni.combo.png") 0 0 no-repeat;
}
a.banner-select.sazanca {
  background: url("../images/banners/91010.sazanca.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-sazanca {
  background: url("../images/banners/91050.fatefulsazanca.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-fire {
  background: url("../images/banners/91003.fatefulboundlessfire.combo.png") 0 0 no-repeat;
}
a.banner-select.ewella-as {
  background: url("../images/banners/91037.ewellaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ewella-as {
  background: url("../images/banners/91047.fatefulewellaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-crystal-secrets {
  background: url("../images/banners/91012.fatefulcrystalsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-slash {
  background: url("../images/banners/91044.fatefulboundlessslash.combo.png") 0 0 no-repeat;
}
a.banner-select.daisy-as {
  background: url("../images/banners/91051.daisyas.combo.png") 0 0 no-repeat;
}
a.banner-select.tiramisu-reencounter {
  background: url("../images/banners/91022.tiramisureencounter.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-daisy-as {
  background: url("../images/banners/91053.fatefuldaisyas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-tiramisu-reencounter {
  background: url("../images/banners/91054.fatefultiramisureencounter.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-blunt {
  background: url("../images/banners/91041.fatefulboundlessblunt.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-kuchinawa {
  background: url("../images/banners/91045.fatefulkuchinawa.combo.png") 0 0 no-repeat;
}
a.banner-select.kuchinawa {
  background: url("../images/banners/91009.kuchinawa.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-magic-secrets {
  background: url("../images/banners/91042.fatefulmagicsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-spring-fest-2024 {
  background: url("../images/banners/91029.fatefultwinspringfest2024.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-spring-fest-2024 {
  background: url("../images/banners/91049.brilliantspringfest2024.combo.png") 0 0 no-repeat;
}
a.banner-select.spring-fest-2024-se1 {
  background: url("../images/banners/91036.springfest2024se1.combo.png") 0 0 no-repeat;
}
a.banner-select.spring-fest-2024-se2 {
  background: url("../images/banners/91006.springfest2024se2.combo.png") 0 0 no-repeat;
}
a.banner-select.spring-fest-2024-se3 {
  background: url("../images/banners/91043.springfest2024se3.combo.png") 0 0 no-repeat;
}
a.banner-select.seventh-anni {
  background: url("../images/banners/91030.seventhanni.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-anabel-es {
  background: url("../images/banners/91052.fatefulanabeles.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-xianhua {
  background: url("../images/banners/91000.fatefulxianhua.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7th-anni {
  background: url("../images/banners/91040.fateful7thanni.combo.png") 0 0 no-repeat;
}
a.banner-select.vr-ciel {
  background: url("../images/banners/91021.vrciel.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-thunder-blunt {
  background: url("../images/banners/91015.fatefulboundlessthunderblunt.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-vr-ciel {
  background: url("../images/banners/91017.fatefulvrciel.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-7th-anni-pop {
  background: url("../images/banners/91033.fateful7thannipop.combo.png") 0 0 no-repeat;
}
a.banner-select.yakumo-as {
  background: url("../images/banners/91010.yakumoas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lapis-heroes {
  background: url("../images/banners/91018.fatefullapisheroes.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-amber-heroes {
  background: url("../images/banners/91003.fatefulamberheroes.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-yakumo-as {
  background: url("../images/banners/91050.fatefulyakumoas.combo.png") 0 0 no-repeat;
}
a.banner-select.bertrand {
  background: url("../images/banners/91025.bertrand.combo.png") 0 0 no-repeat;
}
a.banner-select.mazrika {
  background: url("../images/banners/91034.mazrika.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-blessings-stream {
  background: url("../images/banners/91012.fatefulblessingsstream.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-magister-starchart {
  background: url("../images/banners/91047.fatefulmagisterstarchart.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mazrika {
  background: url("../images/banners/91024.fatefulmazrika.combo.png") 0 0 no-repeat;
}
a.banner-select.jillfunny {
  background: url("../images/banners/91051.jillfunny.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-summer-fest-24 {
  background: url("../images/banners/91049.brilliantsummerfest24.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-summer-fest-24 {
  background: url("../images/banners/91029.fatefultwinsummerfest24.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-luring-shadow {
  background: url("../images/banners/91044.fatefulluringshadow.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-jillfunny {
  background: url("../images/banners/91053.fatefuljillfunny.combo.png") 0 0 no-repeat;
}
a.banner-select.ewan {
  background: url("../images/banners/91036.ewan.combo.png") 0 0 no-repeat;
}
a.banner-select.minalca-as {
  background: url("../images/banners/91009.minalcaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-boundless-fire-2 {
  background: url("../images/banners/91042.fatefulboundlessfire.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ewan-starchart {
  background: url("../images/banners/91054.fatefulewanstarchart.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-minalca-as {
  background: url("../images/banners/91045.fatefulminalcaas.combo.png") 0 0 no-repeat;
}
a.banner-select.us-renri {
  background: url("../images/banners/91030.usrenri.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-us-renri {
  background: url("../images/banners/91000.fatefulusrenri.combo.png") 0 0 no-repeat;
}
a.banner-select.utpalaka {
  background: url("../images/banners/91040.utpalaka.combo.png") 0 0 no-repeat;
}
a.banner-select.purgatory {
  background: url("../images/banners/91055.purgatory.combo.png") 0 0 no-repeat;
}
a.banner-select.dragon-hunters {
  background: url("../images/banners/91043.dragonhunters.combo.png") 0 0 no-repeat;
}
a.banner-select.ovation-dragon-exile {
  background: url("../images/banners/91015.ovationdragonexile.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thundercrack-2 {
  background: url("../images/banners/91048.fatefulthundercrack2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-dragon-hunters {
  background: url("../images/banners/91019.fatefuldragonhunters.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-utpalaka {
  background: url("../images/banners/91052.fatefulutpalaka.combo.png") 0 0 no-repeat;
}
a.banner-select.melina {
  background: url("../images/banners/91033.melina.combo.png") 0 0 no-repeat;
}
a.banner-select.zilva-as {
  background: url("../images/banners/91021.zilvaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-reencounter-melina {
  background: url("../images/banners/91010.fatefulreencountermelina.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-zilva-as {
  background: url("../images/banners/91017.fatefulzilvaas.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-2024-midsummer-fest {
  background: url("../images/banners/91018.brilliant2024midsummerfest.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-2024-midsummer-fest {
  background: url("../images/banners/91003.fatefultwin2024midsummerfest.combo.png") 0 0 no-repeat;
}
a.banner-select.journeys-outset {
  background: url("../images/banners/91025.journeysoutset.combo.png") 0 0 no-repeat;
}
a.banner-select.ptl-shanie {
  background: url("../images/banners/91034.ptlshanie.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-journeys-outset {
  background: url("../images/banners/91047.fatefuljourneysoutset.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-concerto-2 {
  background: url("../images/banners/91049.fatefulconcerto2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-tempestuous {
  background: url("../images/banners/91012.fatefultempestuous.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ptl-shanie {
  background: url("../images/banners/91024.fatefulptlshanie.combo.png") 0 0 no-repeat;
}
a.banner-select.lingli-as {
  background: url("../images/banners/91051.linglias.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-burning-secrets {
  background: url("../images/banners/91044.fatefulburningsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lingli-as {
  background: url("../images/banners/91053.fatefullinglias.combo.png") 0 0 no-repeat;
}
a.banner-select.shion {
  background: url("../images/banners/91036.shion.combo.png") 0 0 no-repeat;
}
a.banner-select.shigure-es {
  background: url("../images/banners/91009.shigurees.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-shadow-sin {
  background: url("../images/banners/91042.fatefultwinshadowsin.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shadow-sin-steel {
  background: url("../images/banners/91041.fatefulshadowsinsteel.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-reencounter-shion {
  background: url("../images/banners/91054.fatefulreencountershion.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shigure-es {
  background: url("../images/banners/91045.fatefulshigurees.combo.png") 0 0 no-repeat;
}
a.banner-select.sesta-as {
  background: url("../images/banners/91030.sestaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-windblade-dance {
  background: url("../images/banners/91032.fatefulwindbladedance.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-comrades-call-vortex {
  background: url("../images/banners/91037.fatefulcomradescallvortex.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-sesta-as {
  background: url("../images/banners/91000.fatefulsestaas.combo.png") 0 0 no-repeat;
}
a.banner-select.nn-tsubame {
  background: url("../images/banners/91040.nntsubame.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-howling-secrets {
  background: url("../images/banners/91048.fatefulhowlingsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-nn-tsubame {
  background: url("../images/banners/91052.fatefulnntsubame.combo.png") 0 0 no-repeat;
}
a.banner-select.shanie {
  background: url("../images/banners/91033.shanie.combo.png") 0 0 no-repeat;
}
a.banner-select.rufus-as {
  background: url("../images/banners/91021.rufusas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-deep-yearning {
  background: url("../images/banners/91015.fatefuldeepyearning.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-roaring-blaze {
  background: url("../images/banners/91055.fatefulroaringblaze.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shanie {
  background: url("../images/banners/91010.fatefulshanie.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-rufus-as {
  background: url("../images/banners/91017.fatefulrufusas.combo.png") 0 0 no-repeat;
}
a.banner-select.mighty {
  background: url("../images/banners/91025.mighty.combo.png") 0 0 no-repeat;
}
a.banner-select.izuna {
  background: url("../images/banners/91034.izuna.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thundering-secrets {
  background: url("../images/banners/91049.fatefulthunderingsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mighty {
  background: url("../images/banners/91047.fatefulmighty.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-izuna {
  background: url("../images/banners/91024.fatefulizuna.combo.png") 0 0 no-repeat;
}
a.banner-select.id {
  background: url("../images/banners/91009.id.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-winter-2024 {
  background: url("../images/banners/91041.brilliantwinter2024.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-journeys-outset-2 {
  background: url("../images/banners/91054.fatefuljourneysoutset2.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-rumbling-secrets {
  background: url("../images/banners/91042.fatefulrumblingsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-concerto-3 {
  background: url("../images/banners/91044.fatefulconcerto3.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-id {
  background: url("../images/banners/91045.fatefulid.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-winter-2024 {
  background: url("../images/banners/91003.fatefultwinwinter2024.combo.png") 0 0 no-repeat;
}
a.banner-select.yuna {
  background: url("../images/banners/91037.yuna.combo.png") 0 0 no-repeat;
}
a.banner-select.elseal-as {
  background: url("../images/banners/91030.elsealas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-torrential-secrets {
  background: url("../images/banners/91052.fatefultorrentialsecrets.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-oracle-starchart {
  background: url("../images/banners/91032.fatefuloraclestarchart.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-elseal-as {
  background: url("../images/banners/91000.fatefulelsealas.combo.png") 0 0 no-repeat;
}
a.banner-select.necoco-es {
  background: url("../images/banners/91021.necocoes.combo.png") 0 0 no-repeat;
}
a.banner-select.splendid-epoch-antiquity {
  background: url("../images/banners/91003.splendidepochantiquity.combo.png") 0 0 no-repeat;
}
a.banner-select.splendid-epoch-present {
  background: url("../images/banners/91015.splendidepochpresent.combo.png") 0 0 no-repeat;
}
a.banner-select.splendid-epoch-future {
  background: url("../images/banners/91055.splendidepochfuture.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-great-necoco {
  background: url("../images/banners/91041.fatefulgreatnecoco.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-splendid-epoch {
  background: url("../images/banners/91010.fatefulsplendidepoch.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-necoco-es {
  background: url("../images/banners/91017.fatefulnecocoes.combo.png") 0 0 no-repeat;
}
a.banner-select:hover {
  background-position: 0 -7.625rem;
}
a.banner-select>span {
  position: absolute;
  top: 0.24rem;
  right: 0.15rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: 5rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.8);
}