img.character {
  width: 4.625rem;
  height: 9.375rem;
  object-fit: cover;
  object-position: left top;
}
div.img-wrap {
  width: 4.625rem;
  height: 9.375rem;
  position: relative;
}
.overlay {
  position: absolute;
  width: 4.625rem;
  background: rgba(46, 22, 21, 0.75);
  text-align: center;
  font-size: 0.65rem;
  color: #D1CB89;
}
.name-overlay {
  height: 1.25rem;
  line-height: 1.25rem;
  bottom: 0.9375rem;
  left: 0;
}
.rarity-overlay {
  height: 0.9375rem;
  line-height: 0.9375rem;
  bottom: 0;
  left: 0;
}
.star, .gem {
  width: 0.78125rem;
  height: 0.78125rem;
}
.banner-select {
  width: 19.75rem;
  height: 7.625rem;
}
#banner-img {
  height: auto;
}
#rateup-chars > img, #pulled-five > img {
  width: 5rem;
}
#total-pulls {
  min-height: 7.8125rem;
}
h4 {
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.625rem;
}
#container {
  min-height: 80vh;
}
#loading-images {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;
}
#ten-pull-badge, #single-pull-badge {
  display: inline;
}
a[aria-expanded="true"] .info-closed, a[aria-expanded="false"] .info-open {
  display: none;
}
@media (min-width: 992px) {
  #banner-img { 
    max-width: 37.5rem;
  }
  img.character, div.img-wrap {
    width: 9.25rem;
    height: 18.75rem;
  }
  .overlay {
    width: 9.25rem;
    font-size: 1.25rem;
  }
  .name-overlay {
    height: 2.5rem;
    line-height: 2.5rem;
    bottom: 1.875rem;
  }
  .name-too-long {
    font-size: 1rem;
  }
  .rarity-overlay {
    height: 1.875rem;
    line-height: 1.875rem;
  }
  .star, .gem {
    width: 1.5625rem;
    height: 1.5625rem;
  }
  .table>tbody>tr>td:last-child {
    font-size: 0.8rem;
  }
  #enc-ten, #enc-one {
    font-size: 1.25rem;
  }
}

a.banner-select.default-encounter {
  background: url("../images/banners/90000.combo.png") 0 0 no-repeat;
}
a.banner-select.two-knights {
  background: url("../images/banners/90065.combo.png") 0 0 no-repeat;
}
a.banner-select.absolute-zero {
  background: url("../images/banners/91001.combo.png") 0 0 no-repeat;
}
a.banner-select.ocean-palace {
  background: url("../images/banners/91002.combo.png") 0 0 no-repeat;
}
a.banner-select.time-mine {
  background: url("../images/banners/91013.timemine.combo.png") 0 0 no-repeat;
}
a.banner-select.shadow-witch {
  background: url("../images/banners/91014.shadowwitch.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-two {
  background: url("../images/banners/91020.ida2.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-three {
  background: url("../images/banners/91011.ida3.combo.png") 0 0 no-repeat;
}
a.banner-select.first-knight {
  background: url("../images/banners/91008.firstknight.combo.png") 0 0 no-repeat;
}
a.banner-select.mythos-song-sword {
  background: url("../images/banners/91007.mythossongsword.combo.png") 0 0 no-repeat;
}
a.banner-select.lost-tome {
  background: url("../images/banners/91026.losttome.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-seven-days {
  background: url("../images/banners/91023.sevendaysfateful.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-recollection-from-east {
  background: url("../images/banners/91039.fatefulrecollectioneast.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-heena-as {
  background: url("../images/banners/91036.fatefulheenaas.combo.png") 0 0 no-repeat;
}
a.banner-select.heena-as {
  background: url("../images/banners/91030.heenaas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-jp-6th-anni {
  background: url("../images/banners/91032.fatefuljp6thanni.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mariel-es {
  background: url("../images/banners/91005.fatefulmarieles.combo.png") 0 0 no-repeat;
}
a.banner-select.jp-6th-anni-blessing {
  background: url("../images/banners/91029.jp6thblessing.combo.png") 0 0 no-repeat;
}
a.banner-select.jp-6th-anni-fighting-spirit {
  background: url("../images/banners/91031.jp6thfightingspirit.combo.png") 0 0 no-repeat;
}
a.banner-select.mariel-es {
  background: url("../images/banners/91010.marieles.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-heroes-white-night {
  background: url("../images/banners/91021.fatefulheroeswhitenight.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-vw-hozuki {
  background: url("../images/banners/91018.fatefulvwhozuki.combo.png") 0 0 no-repeat;
}
a.banner-select.vw-hozuki {
  background: url("../images/banners/91017.vwhozuki.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lazuline-sky {
  background: url("../images/banners/91012.fatefullazulinesky.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-dewey-as {
  background: url("../images/banners/91028.fatefuldeweyas.combo.png") 0 0 no-repeat;
}
a.banner-select.lazuline-sky {
  background: url("../images/banners/91003.lazulinesky.combo.png") 0 0 no-repeat;
}
a.banner-select.dewey-as {
  background: url("../images/banners/91025.deweyas.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shrouded-wisdom {
  background: url("../images/banners/91037.fatefulshroudedwisdom.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-varuos-gift {
  background: url("../images/banners/91015.fatefultwinvaruosgift.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-1 {
  background: url("../images/banners/91019.wanderersdiarych1.combo.png") 0 0 no-repeat;
}
a.banner-select.shrouded-wisdom {
  background: url("../images/banners/91024.shroudedwisdom.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-2 {
  background: url("../images/banners/91006.wanderersdiarych2.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-3 {
  background: url("../images/banners/91042.wanderersdiarych3.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-chaos-banquet {
  background: url("../images/banners/91035.fatefulchaosbanquet.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-yakumo {
  background: url("../images/banners/91034.fatefulyakumo.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-4 {
  background: url("../images/banners/91036.wanderersdiarych4.combo.png") 0 0 no-repeat;
}
a.banner-select.yakumo {
  background: url("../images/banners/91009.yakumo.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-5 {
  background: url("../images/banners/91039.wanderersdiarych5.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-sunlit-amber {
  background: url("../images/banners/91021.fatefulsunlitamber.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-bs-shannon {
  background: url("../images/banners/91030.fatefulbsshannon.combo.png") 0 0 no-repeat;
}
a.banner-select.wanderers-diary-ch-6 {
  background: url("../images/banners/91000.wanderersdiarych6.combo.png") 0 0 no-repeat;
}
a.banner-select.sunlit-amber {
  background: url("../images/banners/91018.sunlitamber.combo.png") 0 0 no-repeat;
}
a.banner-select.bs-shannon {
  background: url("../images/banners/91022.bsshannon.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-origins-june-2023 {
  background: url("../images/banners/91015.fatefultwinorigins.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies-rebirth-june-2023 {
  background: url("../images/banners/91040.fatefultwinrebirth.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-wanderers-special {
  background: url("../images/banners/91032.fatefulwanderersspecial.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-lovely-as {
  background: url("../images/banners/91044.fatefullovelyas.combo.png") 0 0 no-repeat;
}
a.banner-select.lovely-as {
  background: url("../images/banners/91019.lovelyas.combo.png") 0 0 no-repeat;
}

a.banner-select:hover {
  background-position: 0 -7.625rem;
}