a.banner-select.lokido-as {
  background: url("../images/banners/91010.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon {
  background: url("../images/banners/91011.combo.png") 0 0 no-repeat;
}
a.banner-select.first-anny {
  background: url("../images/banners/91013.combo.png") 0 0 no-repeat;
}
a.banner-select.lovely {
  background: url("../images/banners/91009.combo.png") 0 0 no-repeat;
}
a.banner-select.dunarith {
  background: url("../images/banners/91003.combo.png") 0 0 no-repeat;
}
a.banner-select.hismena {
  background: url("../images/banners/91005.combo.png") 0 0 no-repeat;
}
a.banner-select.ruina-as {
  background: url("../images/banners/91008.combo.png") 0 0 no-repeat;
}
a.banner-select.shanie-as {
  background: url("../images/banners/91010.brunhild.combo.png") 0 0 no-repeat;
}
a.banner-select.yuna-as {
  background: url("../images/banners/91012.combo.png") 0 0 no-repeat;
}
a.banner-select.premaya {
  background: url("../images/banners/91014.combo.png") 0 0 no-repeat;
}
a.banner-select.claude-as {
  background: url("../images/banners/91003.magnarex.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-nagi-ewan {
  background: url("../images/banners/91005.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.nikeh-as {
  background: url("../images/banners/91010.yasomagatsuhi.combo.png") 0 0 no-repeat;
}
a.banner-select.kikyo {
  background: url("../images/banners/91009.rotgotpt2.combo.png") 0 0 no-repeat;
}
a.banner-select.cetie-as {
  background: url("../images/banners/91012.crimsonray.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-isuka-myrus {
  background: url("../images/banners/91014.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.myunfa {
  background: url("../images/banners/91017.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-anabel-shanie {
  background: url("../images/banners/91020.combo.png") 0 0 no-repeat;
}
a.banner-select.felmina-as {
  background: url("../images/banners/91003.shiningshadow.combo.png") 0 0 no-repeat;
}
a.banner-select.cat-lover {
  background: url("../images/banners/91006.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-lokido-melina {
  background: url("../images/banners/91005.manifestlokidomelina.combo.png") 0 0 no-repeat;
}
a.banner-select.elga-as {
  background: url("../images/banners/91009.orcofiglia.combo.png") 0 0 no-repeat;
}
a.banner-select.tiramisu {
  background: url("../images/banners/91011.tiramisu.combo.png") 0 0 no-repeat;
}
a.banner-select.renri-as {
  background: url("../images/banners/91015.combo.png") 0 0 no-repeat;
}
a.banner-select.myrus-as {
  background: url("../images/banners/91003.cybele.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-bertrand-felmina {
  background: url("../images/banners/91021.combo.png") 0 0 no-repeat;
}
a.banner-select.radias {
  background: url("../images/banners/91005.radias.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt1 {
  background: url("../images/banners/91009.asseriespt1.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt2 {
  background: url("../images/banners/91010.asseriespt2.combo.png") 0 0 no-repeat;
}
a.banner-select.summer-asseries-pt3 {
  background: url("../images/banners/91023.combo.png") 0 0 no-repeat;
}
a.banner-select.anabel-as {
  background: url("../images/banners/91025.combo.png") 0 0 no-repeat;
}
a.banner-select.zeviro {
  background: url("../images/banners/91011.zeviro.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-claude-tsukiha {
  background: url("../images/banners/91012.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.veina-as {
  background: url("../images/banners/91015.titania.combo.png") 0 0 no-repeat;
}
a.banner-select.cynthia {
  background: url("../images/banners/91003.cynthia.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-yuna-dewey {
  background: url("../images/banners/91007.combo.png") 0 0 no-repeat;
}
a.banner-select.future-zone {
  background: url("../images/banners/future-zone.combo.jpg") 0 0 no-repeat;
}
a.banner-select.zones {
  background: url("../images/banners/91010.zones.combo.png") 0 0 no-repeat;
}
a.banner-select.hardy {
  background: url("../images/banners/91006.hardy.combo.png") 0 0 no-repeat;
}
a.banner-select.shannon-as {
  background: url("../images/banners/91019.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-hardy {
  background: url("../images/banners/91009.hardyfateful.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-shannon-as {
  background: url("../images/banners/91021.beautypolice.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-vibrant-impact {
  background: url("../images/banners/91023.vibrantimpact.combo.png") 0 0 no-repeat;
}
a.banner-select.reencounter-1st-anni {
  background: url("../images/banners/91022.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-mariel-suzette-as {
  background: url("../images/banners/91024.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-smashing {
  background: url("../images/banners/91017.fatefulsmashing.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-yipha {
  background: url("../images/banners/91012.fatefulyipha.combo.png") 0 0 no-repeat;
}
a.banner-select.yipha {
  background: url("../images/banners/91011.yipha.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-halloween {
  background: url("../images/banners/91015.fatefulhalloween.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ciel-as {
  background: url("../images/banners/91010.fatefulmellowdiva.combo.png") 0 0 no-repeat;
}
a.banner-select.ciel-as {
  background: url("../images/banners/91005.mellowdiva.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-elga-renri {
  background: url("../images/banners/91025.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-thillelille {
  background: url("../images/banners/91003.fatefulthillelille.combo.png") 0 0 no-repeat;
}
a.banner-select.thillelille {
  background: url("../images/banners/91000.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-victor {
  background: url("../images/banners/91019.fatefulvictor.combo.png") 0 0 no-repeat;
}
a.banner-select.victor {
  background: url("../images/banners/91006.victor.combo.png") 0 0 no-repeat;
}
a.banner-select.holy-blessings-series {
  background: url("../images/banners/91009.holyblessings.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-mistrare {
  background: url("../images/banners/91021.fatefulmistrare.combo.png") 0 0 no-repeat;
}
a.banner-select.mistrare {
  background: url("../images/banners/91015.mistrare.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-ida-school-series {
  background: url("../images/banners/91024.fatefulidaschool.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-idea-series {
  background: url("../images/banners/91017.fatefulidea.combo.png") 0 0 no-repeat;
}
a.banner-select.ida-school-special-series {
  background: url("../images/banners/91012.idaschoolspecial.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-twin-destinies {
  background: url("../images/banners/91022.twindestinies.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-earths-ringing-series {
  background: url("../images/banners/91025.fatefulearthsringing.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-first-curing-light-series {
  background: url("../images/banners/91010.fatefulfirstcuring.combo.png") 0 0 no-repeat;
}
a.banner-select.brilliant-encounter {
  background: url("../images/banners/91007.brilliantencounter.combo.png") 0 0 no-repeat;
}
a.banner-select.first-curing-light-series {
  background: url("../images/banners/91003.firstcuring.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-chosen-ones-special-2020 {
  background: url("../images/banners/91019.fatefulchosenones.combo.png") 0 0 no-repeat;
}
a.banner-select.chosen-ones-as-special-2020 {
  background: url("../images/banners/91009.chosenonesas2020.combo.png") 0 0 no-repeat;
}
a.banner-select.fateful-seven-days {
  background: url("../images/banners/91023.sevendaysfateful.combo.png") 0 0 no-repeat;
}