a.banner-select.lokido-as {
  background: url("../images/banners/91010.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon {
  background: url("../images/banners/91011.combo.png") 0 0 no-repeat;
}
a.banner-select.first-anny {
  background: url("../images/banners/91013.combo.png") 0 0 no-repeat;
}
a.banner-select.lovely {
  background: url("../images/banners/91009.combo.png") 0 0 no-repeat;
}
a.banner-select.dunarith {
  background: url("../images/banners/91003.combo.png") 0 0 no-repeat;
}
a.banner-select.hismena {
  background: url("../images/banners/91005.combo.png") 0 0 no-repeat;
}
a.banner-select.ruina-as {
  background: url("../images/banners/91008.combo.png") 0 0 no-repeat;
}
a.banner-select.shanie-as {
  background: url("../images/banners/91010.brunhild.combo.png") 0 0 no-repeat;
}
a.banner-select.yuna-as {
  background: url("../images/banners/91012.combo.png") 0 0 no-repeat;
}
a.banner-select.premaya {
  background: url("../images/banners/91014.combo.png") 0 0 no-repeat;
}
a.banner-select.claude-as {
  background: url("../images/banners/91003.magnarex.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-nagi-ewan {
  background: url("../images/banners/91005.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.nikeh-as {
  background: url("../images/banners/91010.yasomagatsuhi.combo.png") 0 0 no-repeat;
}
a.banner-select.kikyo {
  background: url("../images/banners/91009.rotgotpt2.combo.png") 0 0 no-repeat;
}
a.banner-select.cetie-as {
  background: url("../images/banners/91012.crimsonray.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-isuka-myrus {
  background: url("../images/banners/91014.manifest.combo.png") 0 0 no-repeat;
}
a.banner-select.myunfa {
  background: url("../images/banners/91017.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-anabel-shanie {
  background: url("../images/banners/91020.combo.png") 0 0 no-repeat;
}
a.banner-select.felmina-as {
  background: url("../images/banners/91003.shiningshadow.combo.png") 0 0 no-repeat;
}
a.banner-select.cat-lover {
  background: url("../images/banners/91006.combo.png") 0 0 no-repeat;
}
a.banner-select.manifest-weapon-lokido-melina {
  background: url("../images/banners/91005.manifestlokidomelina.combo.png") 0 0 no-repeat;
}
a.banner-select.elga-as {
  background: url("../images/banners/91009.orcofiglia.combo.png") 0 0 no-repeat;
}
a.banner-select.tiramisu {
  background: url("../images/banners/91011.tiramisu.combo.png") 0 0 no-repeat;
}